<div class="row-fluid">
  <div class="row">
    <h1>Register</h1>
  </div>
  <div class="col-md-6 col-lg-offset-2">
    <div class="form-control">
      <form name="register" novalidate flow-init>
        <div class="form-group">
          <label for="username">Username: </label>
          <input type="text" required id="username" name="username" ng-model="vm.user.username">
          <div class="alert alert-danger" role="alert" ng-show="vm.register.username.$error.required">
            <span class="sr-only">Error:</span>
            username is Required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" required id="password" name="password" ng-model="vm.user.password">
          <div class="alert alert-danger" role="alert" ng-show="vm.register.password.$error.required">
            <span class="sr-only">Error:</span>
            password is Required!
          </div>
          <label for="confirmPassword">confirm-Password</label>
          <input type="password" required id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword"
                 ng-change="vm.confirmPasswordCheck(confirmPassword)">
          <div class="alert alert-danger" role="alert" ng-show="vm.confirm">
            <span class="sr-only">Error:</span>
            Not match with password!
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail: </label>
          <input type="email" required id="email" name="email" ng-model="vm.user.email">
          <div class="alert alert-danger" role="alert" ng-show="vm.register.email.$error.required">
            <span class="sr-only">Error:</span>
            email is Required!
          </div>
        </div>
        <div class="form-group">
          <label for="email">Name: </label>
          <input type="text" required id="name" name="name" ng-model="vm.user.name">
          <div class="alert alert-danger" role="alert" ng-show="vm.register.name.$error.required">
            <span class="sr-only">Error:</span>
            name is Required!
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Surname: </label>
          <input type="text" required id="surname" name="surname" ng-model="vm.user.surname">
          <div class="alert alert-danger" role="alert" ng-show="vm.register.surname.$error.required">
            <span class="sr-only">Error:</span>
            surname is Required!
          </div>
        </div>
        <div class="form-group">
          <label for="dob">Date Of Birth: </label>
          <input type="date" required id="dob" name="dob" ng-model="vm.user.dob">
          <div class="alert alert-danger" role="alert" ng-show="vm.register.dob.$error.required">
            <span class="sr-only">Error:</span>
            Date Of Birth is Required!
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Mobile Phone: </label>
          <input type="tel" required id="phoneNumber" name="phoneNumber" ng-model="vm.user.phoneNumber">
          <div class="alert alert-danger" role="alert" ng-show="vm.register.phoneNumber.$error.required">
            <span class="sr-only">Error:</span>
            Phone number is Required!
          </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="vm.addUser()">Register</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
