<div class="panel panel-default">
  <div class="panel-heading">Forgot Password</div>
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
        <label for="email" >E-mail :</label>
        <input id="email" type="email" class="form-control" placeholder="your email" ng-model="vm.user.email"/>
          <button class="btn btn-default" type="submit" ng-click="vm.forgotPassword()">Submit</button>
        </span>
      </div>
    </div>
  </div>
</div>
